<div *ngIf="expense">
  <form materialize class="col s12">
    <div class="row">
      <div>
        <label>Recipient: </label>
        <input [(ngModel)]="expense.recipient" placeholder="name" name="recipient" />
      </div>
      <div>
        <label>Amount: </label>
        <input [(ngModel)]="expense.amount" placeholder="Amount" name="amount" />
      </div>
      <div>
        <label>Property:</label>
        <select [(ngModel)]="expense.propertyId" materialize="material_select"
          [materializeSelectOptions]="options" name="expense.propertyId">
                  <option value="" disabled selected>Select option ..</option>
                  <option *ngFor="let option of properties" [value]="option.id">{{option.addressLine1}}</option>
              </select>
      </div>
      <div>
        <label>Due Date: </label>
      </div>
      <p class="right">
        <button (click)="cancel()" class="waves-effect waves-light btn">Cancel</button>
        <button (click)="save()" class="waves-effect waves-light btn">Save</button>
      </p>
    </div>
  </form>
</div>