<div class="row">
  <a class="btn-floating btn-large waves-effect waves-light red right" (click)="addNew()"><i class="material-icons">add</i></a>
</div>
<div class="row">
  <ul class="properties collection">
    <li *ngFor="let property of properties" class="collection-item">
      <a (click)="onSelect(property)">{{property.addressLine1}}</a>
      <div class="secondary-content">
        <!-- Dropdown Trigger -->
        <a materialize="dropdown" class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons right">more_vert</i></a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a (click)="onSelect(property)">Edit</a></li>
          <li><a (click)="deleteProperty(property)">Delete</a></li>
        </ul>
      </div>

    </li>
  </ul>

  <hr />

  <app-property-form (onSave)="saveProperty()" (onCancel)="cancelAddNew()" [property]="selectedProperty"></app-property-form>
</div>