
<ul class="properties">
  <li *ngFor="let property of properties">
    <a (click)="onSelect(property)">
    <span class="hero-element">
      <span class="badge">{{property.id}}</span> {{property.addressLine1}}
    </span>
    </a>
    <button class="delete-button" (click)="deleteProperty(property)">Delete</button>
  </li>
</ul>

<hr />

<button (click)="addNew()">Add Property</button>

<app-property-form (onSave)="saveProperty()" (onCancel)="cancelAddNew()" [property]="selectedProperty"></app-property-form>