<div class="ibox">
  <div class="ibox-title">
    <h5>Expenses</h5>
    <div class="ibox-tools">
      <a class="btn btn-primary btn-xs">Add an Expense</a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row" *ngIf="expenses && !expenses.length">
      <p>You have no recorded expenses. Add them here to track your spending.</p>
    </div>
    <ul>
      <li *ngFor="let expense of expenses; let i = index">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" href="{{'#expense' + i}}">{{expense.recipient}}</a>
            </div>
            <div id="{{'expense' + i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-md-6">
                  ...
                </div>
                <div class="col-md-3">
                  {{expense.dueDate | date }}
                </div>
                <div class="col-md-3">
                  {{expense.amount }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>