<div class="ibox">
  <div class="ibox-title">
    <h5>Expenses</h5>
    <div class="ibox-tools">
      <a class="btn btn-primary btn-xs">Add an Expense</a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row" *ngIf="expenses && !expenses.length">
      <p>You have no recorded expenses. Add them here to track your spending.</p>
    </div>
    <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
      <li *ngFor="let expense of expenses; let i = index">
        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>{{expense.recipient}}</div>
        <div class="collapsible-body">
            <p>{{expense | json}}
        </div>
      </li>
    </ul>
  </div>
</div>