<div class="row" *ngIf="property">
  <div class="col s12">
    <h3>{{property.addressLine1}}</h3>

    <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>About</div>
        <div class="collapsible-body">


            <div>
              <label>Id: </label>{{property.id}}</div>
            <div>
              <label>Name: </label>
              <input [(ngModel)]="property.addressLine1name" placeholder="name" />
            </div>
            <p>
              <button (click)="goBack()">Back</button>
            </p>

        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tenants</div>
        <div class="collapsible-body">
          <app-property-tenants-list></app-property-tenants-list>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Lease Schedule</div>
        <div class="collapsible-body">
          <app-lease-schedule [lease]="property.currentLease"></app-lease-schedule>
        </div>
      </li>
    </ul>
  </div>
</div>