<div *ngIf="maintenance">
  <div>
    <label>Recipient: </label>
    <input [(ngModel)]="maintenance.recipient" placeholder="name" name="recipient" />
  </div>
  <div>
    <label>Amount: </label>
    <input [(ngModel)]="maintenance.amount" placeholder="Amount" name="amount" />
  </div>
  <div>
    <label>Property:</label>
    <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="maintenance.propertyId">
      <option *ngFor="let option of properties" [value]="option.id">{{option.addressLine1}}</option>
    </select>
  </div>
  <div>
    <label>Due Date: </label>
    <datepicker [(ngModel)]="maintenance.dueDate"></datepicker>
  </div>
  <p class="right">
    <button (click)="cancel()" class="waves-effect waves-light btn">Cancel</button>
    <button (click)="save()" class="waves-effect waves-light btn">Save</button>
  </p>
</div>